/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 13.11.2025, 14:59:46
    Author     : gloriapulsinger
*/
.headerLinkStyle{
    color: #FFFFFF;
    text-decoration:none;
    font-size:x-large;
}
.footerLinkStyle{
    color: #FFFFFF;
    text-decoration:none;
}
html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  padding: 1rem;
}

.no-header thead{
    display: none !important;
}

#map {
    height: 450px;
    width: 100%;
}
            
.leaflet-bottom.leaflet-left .legend {
    margin-left: 0 !important;
    margin-bottom: 0 !important;
}
.legend{
    font-size: 14px;
}

.highlight-row {
    background: #A8A8A8 !important;
    transition: background 0.4s ease;
}

.buttonStyle{
    background-color: #00004d !important;
    color: white !important;
    border-radius: 10px;
    padding: 10px 20px;
    font-weight: bold;
    border: none !important;
    
}
.buttonStyle:focus {
    background-color: #00004d!important;
    border: none !important;
    outline: none !important;
}
.buttonStyle:hover {
    background-color: #000070!important;
    border: none !important;
    outline: none !important;
}

.headerStyle{
    background-color: #00004d;
}

.card{
    position: relative;
     background-color: #000070;
}

.map-legend{
    position: absolute;
    background-color: #FFFFFF;
    top: 10px;
    right: 10px;
}

.map-map{
    position: absolute;
}

.map-legend img{
    width: 25px;
    height: 25px;
}

.close-btn {
    position: absolute;
    top: -14px;  
    right: 0;
    float:right;
}

